/* .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin-top: 0;
}

.home p {
    font-size: 36px;
    color: #577C85;
    margin: 0;
}

.button {
     background-color: #13374b;
    border: none;
    color: white;
    width: 15%;
    height: 40px;

    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    font-size: 20px;

    transition: 0.4s ease;
    cursor: pointer;
}

.home h1 {
    font-size: 64px;
    color: #9ecbe4;
    margin: 10px 0 20px 0;
} */