.botao {
    background-color: #13374b;
    border: none;
    color: white;
    width: 15%;
    height: 40px;

    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    font-size: 16px;

    transition: 0.4s ease;
    cursor: pointer;
    
}   

.botao:hover {
    background-color: #4a7489;
    transform: scale(1.05);
}

@media screen and (max-width: 765px) {
    .botao {
        font-size: 14px;
    }
}