.tituloGaleria {
    color: #9ecbe4;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 50px;
    width: 100%;
}

.campoNome {
    width: 40%;
}

.cardDaImagem p {
    color: #9ecbe4;
}

.inputNome,
.arquivoLabel {
    background-color: white;
    border: none;

    width: 100%;
    height: 40px;

    border-radius: 6px;
    outline: none;
    padding: 0 7px 0 7px;

    transition: 0.4s ease;
    cursor: pointer;

}

.campoNome label {
    color: #577C85;
}

.arquivoInput {
    display: none;
}

.arquivoLabel {
    border-radius: 5px;
    display: block;
    cursor: pointer;
    text-align: center;
    align-content: center;

}

.arquivoLabel, .inputNome:hover {
    background-color: #d1e7f0;
    transform: scale(1.02);
}


.campoCards {
    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    
    
    /* object-fit: contain; */
}

@media screen and (max-width: 765px){
    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}